CompileFlags:
  Add: [-std=c++20, -Wall, -Wextra, -Werror]
  Remove: [-Wno-unused-parameter]
Diagnostics:
  ClangTidy:
    Add: [google-*]
    Remove: [google-runtime-references]
Index:
  Background: Build

